.root_container{
   margin: 100px 50px;

}
section{
   margin:0 50px ;
   display:flex;
   align-items: flex-start;
   position: relative;
  
}
h2{
   font-size: 30px;
   margin: 30px 0 30px 0;
   font-weight: 900;
}
.input_label{
   color: #F24405;
   font-weight: 800;
   font-size: 18px;
   
}
input{
   padding-left: 20px;
}
.cardProduct{
   display: grid;
   grid-template-columns: 25% 50% 10%;
   gap: 25px;
   margin-top: 25px;
   
}
.cardProduct-image img{
   width: 100%;
   height:100%;
   object-fit: cover;
}
.cardProduct-text{
   display: grid;
   grid-template-columns: 80% 20%;
   
}
.cardProduct-text :nth-child(3){
   font-size: 16px;
}
.cardProduct-price {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.cardProduct-price div{
   display: flex;
   flex-direction: column;
}

.cardProduct-price span:last-child{
   font-size: 20px;
   font-weight: 700;
   
}
.cardProduct-count{
   background-color: #D4D943;
   width: 30%;
   border-radius: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   cursor: pointer;
}
.cardProduct-count span{
   font-size: 18px;
   font-weight: 600;
}
.total-information{
   position: sticky;
   box-shadow: 0px 2px 10px 2px rgba(34, 60, 80, 0.2);
   height: 60%;
   padding:45px;
   border-radius: 5px;
   width: 30%;
  
}
.total-information h6 {
   font-size:25px;
   text-align: center;
 
}
.total-information div{
   background-color:#F24405;
   color: white;
   padding: 5px 10px;
   border-radius: 5px;
   text-align: center;
   margin-top: 20px;
   
}
.total-information div:hover{
   background-color:  #F29F05;
   cursor: pointer;
}

.linkCart{
   text-decoration: none;
   font-size: 14px;
   font-weight: 800;
   cursor: pointer;
   margin:0 0 80px 0px;
   color:black
}
.linkCart:hover{
   color:#F24405;
}