.root_container{
      margin: 150px 50px ;
      
   }

.productCategory-container{
      display: flex;
     margin:0 auto;
    
      gap: 20px;
      }
h1{
      margin: 50px 0 0 50px;   
}
h1:first-letter {
      text-transform:uppercase ;
}